<%- include('partials/header'); -%>

<header>
  <!-- <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div> -->
  <div class="headings">
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>Full URL</th>
                <th>Short URL</th>
                <th>Clicks</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(shortUrl => { %>
            <tr>
                <td><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
                <td><a href="http://localhost:3000/<%= shortUrl.short %>">http://localhost:3000/<%=shortUrl.short %></a></td>
                <td><%= shortUrl.clicks %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
  </div>
</header>


<%- include('partials/footer'); -%>